*{
    font-family: "Times New Roman"
}

h1{
    position: relative;
    font-size: 50px;
    text-indent: 100px;
    color: rgb(65, 65, 65);
    height: 50px;
    width: 200px;
    margin: 10px 0;
    background-color: lightblue;
    background-position: -45px;
    z-index: 2;
}

nav ul{
    position: relative;
    top: -70px;
    font-size: 20px;
    display: flex;
    justify-content: end;
    padding: 20px;
    background-color: rgb(65, 65, 65);
}

nav ul li{
    color: lightblue;
    padding: 5px 10px;
    margin: 0 15px;
    border-bottom: 5px solid lightblue;   
}

main{
    background-color: white;
    position: relative;
    top: -700px;
    padding-top: 30px;
}

aside h3{
    display: flex;
    justify-content: end;
    text-indent: -45px;
    font-size: 35px;
    border-right: 5px solid darkslateblue;
    margin: 0 800px 0 0;
}

.barn-door{
    max-width: 100%;
    height: auto; 
    position: relative;
    top: -70px;
    z-index: -1;
}

.work-links{
    max-width: 100%;
    height: auto; 
}

.main-p{
    
}