*{
    font-family: "Times New Roman"
}

h1{
    position: relative;
    font-size: 50px;
    text-indent: 100px;
    color: rgb(65, 65, 65);
    height: 50px;
    width: 200px;
    margin: 10px 0;
    background-color: lightblue;
    background-position: -45px;
    z-index: 2;
}

nav ul{
    position: relative;
    top: -70px;
    font-size: 20px;
    display: flex;
    justify-content: end;
    padding: 20px;
    background-color: rgb(65, 65, 65);
}

nav ul li{
    color: lightblue;
    padding: 5px 10px;
    margin: 0 15px;
    border-bottom: 5px solid lightblue;
   
}